body{
  background-color: #222;
  color: white;
}
div{
  width: 100px;
  height: 100px;
  background-color: pink;
  margin-top: 20%;
  color: black;
 
}
img{
  width: 150px;
  height: 200px;
}
.tr{
  width: 150px;
  height: 150px;
  margin-left: 200px;
}
.wos{
  width: 85%;
  height: 100%;
  background-color: #222;
  color: white;
}