body{
  background-color: #222;
  color: white;
}
div{
  width: 100px;
  height: 70px;
  background-color: pink;
  margin-top: 20%;
  color: black;
  text-align: center;
 
}
img{
  width: 150px;
  height: 200px;
}
.tr{
  float: right;
  width: 40%;
  color: white;
}
.wos{
  width: 85%;
  height: 100%;
  background-color: #222;
  color: white;
}